<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!--app.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/product.js"></script>
    <div th:insert="~{fragments/menu :: #link}"></div>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h2>Your bucket</h2>
<h3>All sum -> <b th:text="${bucket.sum}">1000</b></h3>
<!--border="1" align="center"-->
<table class="table-bordered table-sm" align="center" border="2" >
    <tr>
        <td>Title</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${bucket.bucketDetails}">
        <td th:text="${detail.title}">Cheese</td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11.0</td>
        <td th:text="${detail.sum}">22</td>
        <td><a class="btn btn-success" th:href="@{/bucket/add/{id}(id = ${detail.productId})}">
            <i class="fas fa-plus"></i></a>
            <a class="btn btn-danger" th:href="@{/bucket/delete/{id}(id = ${detail.productId})}">
                <i class="fas fa-minus"></i></a></td>
<!--        <td><a class="btn btn-danger" th:onclick="'javascript:removeProduct(\'' + ${detail.productId} +'\');'">-->
<!--            <i class="far fa-trash-alt">12345</i></a></td>-->
        <td><a class="btn btn-danger" th:href="@{/bucket/deleteAll/{id}(id = ${detail.productId})}">
            <i class="far fa-trash-alt"></i></a></td>

    </tr>
    <tr>
    <td><td>
    <td>
    <td><b th:text="${bucket.sum}">1000</b></td>
    </tr>
</table>

    <form th:action="@{/bucket}" method="post">
    <button type="submit">Create Order</button>

</form>
</body>
</html>