<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <div th:insert="~{fragments/menu :: #link}"></div>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div align="center">

<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/auth}" method="post">
    <table class="table-hover table-sm" border="0" align="center">
        <tr>
            <td>Name</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>
    <button class="btn btn-success" type="submit">Log in</button>
    <div/>
</form>
</body>
</html>