<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!--app.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/product.js"></script>

    <div th:insert="~{fragments/menu :: #link}"></div>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table class="table-bordered table-sm" align="center" border="2" id="table">
    <tr>
        <td>Title</td>
        <td>Price</td>
        <td></td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">Cheese</td>
        <td th:text="${product.price}">12.0</td>
        <td  ><a th:href="@{/products/{id}(id=${product.id})}"><button type="button" class="btn btn-success" th:ref="@{/products/{id}(id=${product.id}})}">
            <i class='fas fa-info'></i></button></a></td>
<!--        <td sec:authorize="isAuthenticated()"><a th:onclick="'javascript:addToBucket(\'' + ${product.id} +'\');'"><i class="fas fa-shopping-basket"></i></a></td>-->
        <td sec:authorize="isAuthenticated()"><a th:onclick="'javascript:addToBucket(\'' + ${product.id} +'\');'">
<!--            <a th:onclick="'javascript:bucketInfo();'">-->
            <button type="button" class="btn btn-success"><i class="fas fa-shopping-basket"></i></button></a></td>
<!--        <td sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" ><a th:onclick="'javascript:removeProduct(\'' + ${product.id} +'\');'">Remove product</a></td>-->
    </tr>
</table>

<form sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" style="text-align: center ">
    <table align="center">
        <tr>
            <td>Title</td>
            <td><input type="text" id="title"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" id="price"></td>
        </tr>
    </table>
    <button id="send" type="submit" >Submit</button>
</form>

</body>
</html>